<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YourStoreName</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <header>
       <div class="container-fluid border-5 mt-5">

       </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <section id="hero" class="jumbotron">
                <h1 class="display-4">Discover Unique Treasures</h1>
                <p class="lead">Explore our collection of handmade and Used products.</p>
                <a class="btn btn-primary btn-lg" href="Products/HomeIndex" role="button">Used Products</a>
                <a class="btn btn-primary btn-lg" href="HandMProducts/HMProducts" role="button">HandMade Products</a>
            </section>

            <section id="featured-products">
                <div id="productCarousel" class="carousel slide" data-ride="carousel">
                </div>
            </section>

            <section id="categories">
                <div class="row">
                    <div class="col-md-4">
                        <a href="#"><i class="fas fa-gem fa-3x"></i></a>
                        
                    </div>
                </div>
            </section>

            <section id="about-us" class="text-center py-5">
                <h2>Our Story</h2>
                <p>
                    We are a passionate team dedicated to supporting local artisans and offering unique, sustainable products.
                </p>
            </section>
        </main>
        <div class="container mt-5">
           <section class=" text-center text-capitalize py-5">
               <p><video controls="controls">
  <source src="file.mp4"  type="video/mp4" />
  <source src="file.webm" type="video/webm" />
  <source src="file.ogv"  type="video/ogg" />
</video>

               </p>
           </section>
        </div>
    </div>

   

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
