@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container  p-xxl-5 mt-xl-5">
    <h1></h1>
</div>
<h1>@ViewData["Title"]</h1>

<div>

</div>

@* Views/Home/Privacy.cshtml *@

@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container">
    <h1 class="display-4 mt-5">Privacy Policy</h1>

    <p class="lead mt-3">
        S.Stor ("we") is committed to protecting your privacy. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you use our website.
    </p>

    <section class="mt-4">
        <h2>Information We Collect</h2>
        <p>
            We collect information you provide directly to us. For example, we collect information when you create an account, subscribe, participate in any interactive features of our services, fill out a form, request customer support, or otherwise communicate with us. The types of information we may collect include your name, email address, postal address, phone number, payment method information, and any other information you choose to provide.
        </p>
        <p>
            We also collect information automatically as you navigate through the site. Information collected automatically may include usage details, IP addresses, and information collected through cookies, web beacons, and other tracking technologies.
        </p>
    </section>
    <section class="mt-4">
        <h2>Contact Us</h2>
        <p>
            If you have any questions or concerns about this Privacy Policy, please contact us:
        </p>
        <address>
            <p id="storname">S.Stor</p>
            <div class="row">
                <div class="col-sm-2">
                    <p><a href="mailto:saadmaseer0@gmail.com" class="btn btn-outline-info">Write to us</a></p>

                </div>
                <div class="col">
                    <p><a href="tel:+46793369333" class="btn btn-outline-success">Call us</a></p>

                </div>
            </div>
            
        </address>
    </section>

</div>

