@{
    ViewData["Title"] = "Home-Index";
}
<div class="container  p-xxl-5 mt-xl-5">
    <h1></h1>
</div>

<div class="container mt-5">
    <h1 id="handmadstor" class="text-center p-lg-5">Used Products</h1>
   
    
        <div class="col p-5 my-5 border">
            <a class="btn btn-outline-success rounded-3" asp-controller="Products" asp-action="Create">New Product</a>
           
        </div>
    
    <div class="container p-5 ">
        <p id="seller-info" class="text-xxl-center text-uppercase">Communicate directly with the sellers to buy their products</p>
    </div>
    
</div>

<div class="container bg-success border-5 p-5 img-thumbnail rounded-3">
    <div class="container-xxl border-3 img-thumbnail rounded-3">
        <div class="row bg-secondary img-thumbnail rounded-3">
            @foreach (var product in Model)
            {
                <div class="col-md-4 mb-4 bg-black img-thumbnail">
                    <div id="card-products" class="card h-100" data-aos="fade-up" data-aos-duration="800">
                        <img id="img-products" src="/Products-Images/@product.ImageFileName" class="card-img-top mt-4 img-thumbnail rounded-3" style="width: 100%; height: 50%;" alt="Product Image">
                        <h5 class="card-title text-center mt-4 img-thumbnail bg-black text-white rounded-3 ">@(product.Price.ToString("C", new System.Globalization.CultureInfo("sv-SE")))</h5>
                        <p class="card-text text-center">@product.Brand</p>
                        <p class="card-text text-center text-capitalize">@product.Name</p>
                        <div class="border-3">
                            <p class="card-text text-center">@product.Description</p>

                        </div>
                        <p class="text-info text-capitalize mt-4 text-center">
                            Send an email to the salesman
                        </p>
                        <div class="text-center">
                            <button class="btn btn-outline-info">
                                <a class="btn btn-primary btn-sm" href="mailto:@product.Email">Send an Email</a>
                            </button>
                            

                        </div>
                    </div>
                </div>

            }
        </div>
    </div>

</div>


<script>
    AOS.init({
        duration: 800,
        easing: 'ease-in-out',
        once: true,
    });
</script>



